---
import { cn } from "@utils/utils";

interface Props {
  heading: string;
  subheading: string;
  location: string;
  phone: string;
  phoneForTel: string;
  email: string;
  hours: string;
}

const { heading, location, phone, phoneForTel, email, hours } = Astro.props;

// Styles
const contact =
  "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 bg-[#f7f7f7] dark:bg-[rgba(0,0,0,0.2)] relative z-1";
const container =
  "w-full max-w-[44rem] m-auto flex justify-center items-stretch flex-col gap-x-auto gap-y-[clamp(3rem,6vw,5rem)] relative md:max-w-[80rem] md:flex-row md:flex-wrap md:justify-between";
const content = "text-center w-full flex flex-col items-center";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary dark:text-secondary mb-1 block";
const title =
  "max-w-[23ch] m-0 text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.3em] before:left-1/2 before:transform before:-translate-x-1/2";
const contactGroup = "md:6/12 md:max-w-[39.375rem]";
const picture =
  "w-full h-[clamp(15rem,35vw,18.75rem)] mb-6 rounded-3xl overflow-hidden block relative";
const img = "w-full h-full object-cover absolute top-0 left-0";
const contactText =
  "text-4 leading-[1.5em] text-left mb-6 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
const ul = "w-full m-0 p-0 box-border flex flex-col items-start gap-6 relative";
const li = "group list-none flex justify-start items-start gap-5";
const hoursBox = "list-none flex justify-start items-start ml-20 gap-5";
const iconWrapper =
  "group-hover:scale-[1.1] w-[3.75rem] h-[3.75rem] m-0 rounded-full border border-[#bababa] flex justify-center items-center flex-none transform transition-transform duration-300 dark:border-white";
const icon = "w-[1.5rem] h-auto block dark:grayscale dark:brightness-[1000%]";
const emailIcon = "w-[1.5rem] h-auto block ";
const flexGroup = "";
const phoneStyle = "";
const emailStyle = "";
const header =
  "text-xl font-bold leading-[1.2em] mb-3 text-headerColor dark:text-bodyTextColorWhite block";
const link =
  "text-base leading-[1.5em] no-underline text-[#767676] dark:text-bodyTextColorWhite block relative hover:underline dark:opacity-80";
const hoursStyle =
  "text-base leading-[1.5em] text-[#767676] dark:text-bodyTextColorWhite block relative dark:opacity-80";
const form =
  "w-full py-[clamp(1.5rem,5.18vw,3rem)] px-[clamp(1rem,4vw,2rem)] box-border bg-white dark:bg-medium rounded-2xl flex justify-between flex-wrap items-center gap-3 md:w-[46%] md:max-w-[36.125rem]";
const input =
  "text-base w-full h-[3.5rem] pl-6 text-headerColor dark:text-[white] bg-[#f7f7f7] dark:bg-[rgba(255,255,255,0.2)] rounded-lg border-none box-border placeholder:text-[#7d799c] dark:placeholder:text-white placeholder:opacity-60 dark:placeholder:opacity-80";
const label =
  "text-[clamp(0.875rem,1.5vw,1rem)] w-full text-headerColor dark:text-bodyTextColorWhite flex flex-col justify-center items-start gap-1";
const textarea = "min-h-[7.5rem] pt-6 mb-3";
const button =
  "text-base leading-[clamp(2.875em,5.5vw,3.5em)] no-underline font-bold text-center text-headerColor border-none min-w-[9.375rem] px-6 bg-secondary rounded overflow-hidden inline-block relative z-[1] box-border transform transition-colors duration-300 hover:text-white";
const buttonBefore =
  "before:content-[''] before:absolute before:h-full before:w-0 before:bg-black before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:rounded before:transform before:transition-all before:duration-300 before:hover:w-full";
const submit =
  "w-full min-w-[17.6875rem] rounded-lg hover:cursor-pointer md:w-auto";
const graphic = "hidden lg:block dark:opacity-40";
const graphic1 = "w-13rem h-auto absolute left-[-7.5rem] top-[8.625rem]";
const graphic2 = "w-[12.8125rem] h-auto absolute right-[-9.75rem] top-[0.5rem]";
---

<section id="contact-1150" class={cn(contact)}>
  <div class={cn(container)}>
    <div class={cn(content)}>
      <span class={cn(topper)}>Contact Us</span>
      <h2 class={cn(title, titleUnderline)}>{heading}</h2>
    </div>
    <div class={cn(contactGroup)}>
      <picture class={cn(picture)}>
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/group.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/group.jpg"
        />
        <img
          class={cn(img)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/group.jpg"
          alt="people"
          width="630"
          height="300"
        />
      </picture>
      <p class={cn(contactText)}>
        There are many variations of passages of available but the majority have
        suffered alteration in some form, by injected randomized words even
        slightly believable.
      </p>
      <ul class={cn(ul)}>
        <li class={cn(li)}>
          <picture class={cn(iconWrapper)}>
            <img
              class={cn(icon)}
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-phone.svg"
              alt="phone icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class={cn(flexGroup)}>
            <span class={cn(header)}>Phone</span>
            <a href=`tel:${phoneForTel}` class={cn(link)}>{phone} </a>
          </div>
        </li>
        <li class={cn(li)}>
          <picture class={cn(iconWrapper)}>
            <img
              class={cn(emailIcon, "stroke-white")}
              aria-hidden="true"
              src="/src/icons/email-stroke.svg"
              alt="email icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class={cn(flexGroup)}>
            <span class={cn(header)}>Email</span>
            <a href=`mailTo:${email}` class={cn(link)}>{email} </a>
          </div>
        </li>
        <li class={cn(li)}>
          <picture class={cn(iconWrapper)}>
            <img
              class={cn(icon)}
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-pin.svg"
              alt="address icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class={cn(flexGroup)}>
            <span class={cn(header)}>Address</span>
            <a href="" class={cn(link)}>{location}</a>
          </div>
        </li>
        <li class={cn(hoursBox)}>
          <div class={cn(flexGroup)}>
            <span class={cn(header)}>Hours</span>
            <p class={cn(hoursStyle)}>{hours}</p>
          </div>
        </li>
      </ul>
    </div>
    <!--Form-->
    <form class={cn(form)} id="cs-form-1150" name="Contact Form" method="post">
      <label class={cn(label)}>
        Name
        <input
          class={cn(input)}
          required
          type="text"
          id="name-1150"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class={cn(label, emailStyle)}>
        Email
        <input
          class={cn(input)}
          required
          type="email"
          id="email-1150"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class={cn(label, phoneStyle)}>
        Phone
        <input
          class={cn(input)}
          required
          type="number"
          id="phone-1150"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class={cn(label)}>
        Message
        <textarea
          class={cn(input, textarea)}
          required
          name="Message"
          id="message-1150"
          placeholder="Write message..."></textarea>
      </label>
      <button class={cn(button, buttonBefore, submit)} type="submit"
        >Make an Appointment</button
      >
    </form>
    <!--Bounce Graphic-->
    <img
      class={cn(graphic, graphic1)}
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/bounce.svg"
      alt="bounce"
      width="208"
      height="124"
    />
    <!--Coin Graphic-->
    <img
      class={cn(graphic, graphic2)}
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/coin.svg"
      alt="bounce"
      width="205"
      height="161"
    />
  </div>
</section>
