---
// Import the component and all the images you want to use with it
import CSPicture from "@components/TemplateComponents/CSPicture.astro";
import mobileImage from "../../public/assets/images/construction-m.jpg";
import desktopImage from "../../public/assets/images/cabinets2.jpg";
import fallbackImage from "../../public/assets/images/cabinets2.jpg";
import { cn } from "@utils/utils";

// Styles
const cta =
  "py-[3.125rem] px-0 relative md:py-[10.5rem] md:px-0 lg:mt-[6.25rem] lg:relative z-[1000]";
const overlay =
  "before:content-[''] before:w-full before:h-full before:bg-black before:opacity-50 before:block before:absolute before:top-0 before:left-0 before:z-[-1]";
const container =
  "text-center lg:w-[90.0625%] m-auto flex flex-col items-center";
const title =
  "text-center text-5xl font-black leading-[1.208] max-w-[43.75rem] mb-9 text-bodyTextColorWhite relative";
const p =
  "text-center w-[96%] max-w-[37.375rem] m-auto mb-9 text-bodyTextColorWhite opacity-100";
const button =
  "mt-8 leading-[3em] h-[initial] rounded mb-4 mx-2 text-base no-underline font-bold m-0 text-bodyTextColorWhite py-0 px-6 bg-primary inline-block relative z-[1]";
const buttonBefore =
  "before:content-[''] before:absolute before:block before:h-full before:rounded before:w-0 before:bg-headerColor before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:transition-all before:hover:w-full";
---

<section id="cta" class={cn(cta, overlay)}>
  <div class={cn(container)}>
    <h2 class={cn(title)}>
      Get It Done
      <br />
      With Us Today
    </h2>
    <p class={cn(p)}>
      Say something catchy, informative, and encouraging to click the button to
      go to the contact page. I like to add these to the bottom of all pages.
    </p>
    <a href="/contact" class={cn(button, buttonBefore)}>Get an Estimate Now</a>
  </div>
  <CSPicture
    mobileImgUrl={mobileImage}
    mobileMediaWidth="600px"
    desktopImgUrl={desktopImage}
    desktopMediaWidth="601px"
    fallbackImgUrl={fallbackImage}
    alt=""
  />
</section>
