---
import { cn } from "@utils/utils";

// Styles
const faq =
  "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 bg-[#f7f7f7] dark:bg-[rgba(0,0,0,0.2)]";
const container =
  "w-full max-w-[34.375rem] m-auto flex flex-col justify-center items-center gap-[clamp(2.5rem,5vw,3rem)] md:max-w-[80rem] md:flex-row md:justify-between md:items-start md:gap-[3.25]";
const left =
  "text-[min(2.08vw,0.791em)] w-[42.875em] h-[42em] relative transform scale-x-[-1] md:text-[min(1vw,1em)] md:flex-none md:order-2";
const picture =
  "rounded-full border-[clamp(6px,1.2vw,12px)] border-white dark:border-accent overflow-hidden absolute block";
const picture1 = "w-[42em] h-[42em] top-[-0.75em] left-[-0.75em]";
const img = "absolute top-0 left-0 h-full w-full object-cover";
const content = "text-left w-full max-w-[32.625rem] flex flex-col items-start";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary dark:text-primaryLight mb-1 block md:text-left md:w-4/5 md:ml-0";
const title =
  "mb-8 text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] max-w-[43.75rem] text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.3em] before:left-1/2 before:transform before:-translate-x-1/2";
const faqGroup = "p-0 m-0 flex justify-center items-center flex-col";
const faqItem =
  "no-underline w-full border-b border-b-[#e8e8e8]  transition-all duration-300";
const button =
  "text-base leading-[1.2em] text-left font-bold p-[clamp(1rem,1.3vw,1.25rem)] norder-none bg-transparent text-headerColor dark:text-bodyTextColorWhite block w-full relative transition-colors duration-300 hover:cursor-pointer";
const buttonBefore =
  "before:content-[''] before:w-[0.5rem] before:h-[0.125rem] before:bg-headerColor dark:before:bg-bodyTextColorWhite before:opacity-100 before:rounded-full before:absolute before:block before:top-[45%] before:right-[1.5rem] before:transform before:rotate-45 before:origin-left before:transition-transform before:duration-500";
const buttonAfter =
  "after:content-[''] after:w-[0.5rem] after:h-[0.125rem] after:bg-headerColor dark:after:bg-bodyTextColorWhite after:opacity-100 after:rounded-full after:absolute after:block after:top-[45%] after:right-[1.3125rem] after:transform after:rotate-[-45deg] after:origin-right after:transition-transform after:duration-500";
const buttonText = "w-4/5 block";
const itemP =
  "text-[clamp(0.875rem,1.5vw,1rem)] leading-[1.5em] w-[90%] h-0 m-0 px-[clamp(1rem,2vw,1.5rem)] opacity-0 text-bodyTextColor dark:text-bodyTextColorWhite overflow-hidden transition-all duration-300";
---

<section id="faq-350" class={cn(faq)}>
  <div class={cn(container)}>
    <div class={cn(left)}>
      <picture class={cn(picture, picture1)} aria-hidden="true">
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.jpg"
        />
        <img
          class={cn(img)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/cleaner3.jpg"
          alt="cleaning supplies"
          width="672"
          height="672"
        />
      </picture>
    </div>
    <div class={cn(content)}>
      <span class={cn(topper)}>Asked questions</span>
      <h2 class={cn(title, titleUnderline)}>Frequently Asked Questions</h2>
      <ul class={cn(faqGroup)}>
        <!-- Active class added as default -->
        <li class={cn(faqItem, "faq-item", "active")}>
          <button class={cn(button, buttonBefore, buttonAfter, "button")}>
            <span class={cn(buttonText)}>
              How much are house cleaning services?
            </span>
          </button>
          <p class={cn(itemP, "item-p")}>
            Some cleaning plans require a minimum commitment term. Cancelling
            your plan before the minimum term is complete will result in a $99
            fee. If you want to learn more information about how to cancel,
            please inbox us.
          </p>
        </li>
        <li class={cn(faqItem, "faq-item")}>
          <button class={cn(button, buttonBefore, buttonAfter, "button")}>
            <span class={cn(buttonText)}>
              What is your plan cancellation policy?
            </span>
          </button>
          <p class={cn(itemP, "item-p")}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class={cn(faqItem, "faq-item")}>
          <button class={cn(button, buttonBefore, buttonAfter, "button")}>
            <span class={cn(buttonText)}>
              How long should a house cleaning take?
            </span>
          </button>
          <p class={cn(itemP, "item-p")}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class={cn(faqItem, "faq-item")}>
          <button class={cn(button, buttonBefore, buttonAfter, "button")}>
            <span class={cn(buttonText)}>
              How much are house cleaning services?
            </span>
          </button>
          <p class={cn(itemP, "item-p")}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class={cn(faqItem, "faq-item")}>
          <button class={cn(button, buttonBefore, buttonAfter, "button")}>
            <span class={cn(buttonText)}> Can cleanings be scheduled? </span>
          </button>
          <p class={cn(itemP, "item-p")}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .faq-item.active {
    @apply border-primaryLight;
  }
  .faq-item.active .button:before {
    @apply bg-primaryLight transform rotate-[315deg];
  }
  .faq-item.active .button:after {
    @apply bg-primaryLight transform rotate-[-315deg];
  }
  .faq-item.active .item-p {
    @apply h-auto pt-0 px-[clamp(1rem,2vw,1.5rem)] pb-[clamp(1.25rem,1.3vw,1.5rem)] opacity-100;
  }
  .faq-item.active {
    @apply dark:border-b-primaryLight;
  }
  .faq-item.active .button {
    @apply dark:text-primaryLight;
  }
  .faq-item.active .button:before,
  .faq-item.active .button:after {
    @apply dark:bg-primaryLight;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const faqItems = Array.from(document.querySelectorAll(".faq-item"));
    for (const item of faqItems) {
      const onClick = () => {
        item.classList.toggle("active");
      };
      item.addEventListener("click", onClick);
    }
  });
</script>
