---
import { cn } from "@utils/utils";

interface Props {
  profileImg: string;
  text: string;
  name: string;
  title?: string;
  stars?: string;
}

const { profileImg, text, name, title } = Astro.props;

const item =
  "list-none p-0 mt-[clamp(2.5rem,5vw,3.5rem)] bg-white dark:bg-medium flex flex-col items-start relative col-span-12 group sm:col-span-4";
const image =
  "w-[clamp(5rem,10vw,7rem)] h-auto mt-[calc(clamp(2.5rem,5vw,3.5rem)*-1)] mb-[2.25rem] ml-[clamp(1.25rem,3vw,2.25rem)] rounded-full block";
const icon =
  "w-[3.25rem] h-auto block absolute top-[clamp(1.5rem,3vw,2.25rem)] right-[clamp(1.5rem,3vw,2.25rem)]";
const itemText =
  "text-[clamp(0.875rem,1.5vw,1rem)] leading-[1.5em] text-left m-0 px-[clamp(1.5rem,3vw,2.25rem)] pl-[clamp(1.25rem,3vw,2.25rem)] box-border text-bodyTextColor dark:text-bodyTextColorWhite";
const flex =
  "text-center p-6 box-border w-full mt-auto group-hover:bg-primary bg-headerColor dark:bg-[rgba(0,0,0,0.6)] flex flex-col items-center gap-1 transition-colors duration-300";
const reviewer =
  "text-[clamp(1.25rem,2.5vw,1.5625rem)] leading-[1.2em] m-0 font-bold p-0 text-bodyTextColorWhite";
const desc =
  "text-[clamp(0.875rem,2.5vw,1rem)] leading-[1.5em] m-0 p-0 text-bodyTextColorWhite dark:opacity-80";
---

<li class={cn(item)}>
  <img
    class={cn(image)}
    src={profileImg}
    alt="profile"
    width="112"
    height="112"
    aria-hidden="true"
    decoding="async"
    loading="lazy"
  />
  <img
    class={cn(icon)}
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg"
    alt="icon"
    width="52"
    height="36"
    aria-hidden="true"
    decoding="async"
    loading="lazy"
  />
  <p class={cn(itemText)}>
    {text}
  </p>
  <div class={cn(flex)}>
    <span class={cn(reviewer)}>{name}</span>
    <span class={cn(desc)}>{title}</span>
  </div>
</li>
