---
import { cn } from "@utils/utils";

// Styles
const reviews = "text-center py-24 px-4";
const container = "w-full max-w-[69rem] m-auto flex flex-col items-center";
const topper =
  "text-center mb-4 text-base leading-[1.2em] uppercase tracking-widest font-bold text-primary block";
const title =
  "text-center max-w-[43.75rem] text-3xl font-dark leading-[1.2em] mb-[3.5em] text-headerColor relative dark:text-bodyTextColorWhite";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.1em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:-translate-x-1/2";
const cardGroup =
  "mt-0 mx-auto mb-0 p-0 sm:flex sm:justify-between sm:items-center sm:gap-4";
const item =
  "text-left no-underline w-full max-w-[33.875rem] mx-auto mb-16 box-border pt-[3.75rem] px-8 pb-10 bg-white shadow-lg rounded flex justify-between items-center flex-wrap relative sm:m-0 dark:bg-medium";
const itemImg = "w-20 h-20 absolute top-[-2.5rem]";
const itemP =
  "text-base leading-[1.5em] mb-5 text-bodyTextColor border-b border-b-[#e8e9ec] dark:text-bodyTextColorWhite";
const reviewer =
  "text-base font-bold leading-[1.5em] w-2/5 mr-auto text-headerColor block dark:text-bodyTextColorWhite";
const desc =
  "text-sm font-normal text-bodyTextColor block dark:text-primaryLight";
const itemStars = "w-24 h-4";
const button =
  "mt-8 leading-[3em] h-[initial] rounded mb-4 mx-2 text-base no-underline font-bold m-0 text-bodyTextColorWhite py-0 px-6 bg-primary inline-block relative z-[1]";
const buttonBefore =
  "before:content-[''] before:absolute before:block before:h-full before:rounded before:w-0 before:bg-headerColor before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:transition-all before:hover:w-full";
---

<section id="reviews" class={cn(reviews)}>
  <div class={cn(container)}>
    <span class={cn(topper)}>Reviews</span>
    <h2 class={cn(title, titleUnderline)}>What Our Customers Say About Us</h2>
    <ul class={cn(cardGroup)}>
      <!-- Review 1 -->
      <li class={cn(item)}>
        <img
          class={cn(itemImg)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class={cn(itemP)}>
          They gave us an estimate that was 30% less than the 2 other companies
          we got quotes from, and they were able to start work right away. The
          crew was very friendly, professional, and hard-working. They finished
          the job in one day! It looks fantastic! We are very happy with the
          work they did.
        </p>
        <span class={cn(reviewer)}>
          Roger P.
          <span class={cn(desc)}>Homeowner</span>
        </span>
        <img
          class={cn(itemStars)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="stars"
          width="96"
          height="16"
        />
      </li>
      <!-- Review 2 -->
      <li class={cn(item)}>
        <img
          class={cn(itemImg)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile-woman.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class={cn(itemP)}>
          I called Coppertop Construction to fix my leaking roof, and they were
          able to come out that same day, within 2 hours of me calling for an
          estimate! The crew that came was very friendly and polite. They
          finished the job in 1 day and did a great job cleaning up after
          themselves. This company is very reliable, and I would highly
          recommend them!
        </p>
        <span class={cn(reviewer)}>
          Melody Y.
          <span class={cn(desc)}>Homeowner</span>
        </span>
        <img
          class={cn(itemStars)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="stars"
          width="96"
          height="16"
        />
      </li>
      <!-- Review 3 -->
      <li class={cn(item)}>
        <img
          class={cn(itemImg)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile-woman.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class={cn(itemP)}>
          We were extremely pleased with the service we received from Coppertop
          Construction when we hired them to re-roof our home. They worked extra
          hard to ensure that we were completely satisfied with the results.
        </p>
        <span class={cn(reviewer)}>
          Kimmie M.
          <span class={cn(desc)}>Homeowner</span>
        </span>
        <img
          class={cn(itemStars)}
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="stars"
          width="96"
          height="16"
        />
      </li>
    </ul>
    <a
      aria-label="read more reviews"
      href="/reviews"
      class={cn(button, buttonBefore)}>Our Reviews</a
    >
  </div>
</section>
