---
import { cn } from "@utils/utils";

// Styles
const sbs = "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 overflow-hidden";
const container =
  "w-full max-w-[36.5rem] m-auto flex justify-center items-center flex-col gap-[clamp(3rem,4vw,4rem)] md:max-w-[80rem] md:flex-row md:justify-between md:items-stretch";
const imageGroup =
  "w-full max-w-[41.875rem] h-[100vw] max-h-[39.375rem] relative block z-1 md:w-[55%] md:max-w-[41.875rem] md:min-h-[41.875rem] md:max-h-full md:h-auto md:m-0";
const box =
  "text-left w-[70%] max-w-[19rem] p-[clamp(1.25rem,4vw,2.5rem)] box-border bg-headerColor dark:bg-medium inline-flex justify-center items-start flex-col gap-2 absolute right-0 bottom-0 z-10 md:bottom-0";
const desc =
  "text-[clamp(1rem,2.5vw,1.9375rem)] leading-[1.2em] font-bold w-full text-bodyTextColorWhite relative z-10";
const picture = "w-[93%] h-[93%] absolute top-0 left-0 block md:w-[93%] md:h-[94%]";
const img = "absolute top-0 left-0 h-full w-full object-cover";
const content =
  "text-left w-full max-w-[33.875rem] flex flex-col items-start relative z-10 md:w-[48%] md:py-[3rem] md:self-center md:flex-none";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary mb-1 block";
const title =
  "text-4xl font-black leading-[1.2em] max-w-[43.75rem] mb-8 text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.3em] before:left-1/2 before:-translate-x-1/2";
const text =
  "mb-4 last-of-type:mb-8 text-base leading-[1.5em] w-full max-w-[40.625rem] text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
const button =
  "text-4 leading-[clamp(2.875rem,5.5vw,3.5rem)] no-underline font-bold text-center m-0 text-headerColor min-w-[9.375rem] px-6 bg-primary inline-block relative z-[1] box-border transition-color duration-300 hover:text-white";
const buttonBefore =
  "before:content-[''] before:absolute before:h-full before:w-0 before:bg-black before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:transition-all before:duration-300 before:hover:w-full";
const ul =
  "w-full p-0 mt-[clamp(2rem,5vw,3rem)] pt-[clamp(2rem,5vw,3rem)] border-t border-t-[#e8e8e8] flex justify-between items-center gap-x-3";
const item = "list-none w-[32%] flex flex-col self-stretch content-between";
const number =
  "text-[1.5625rem] leading-[1.2em] font-bold text-left text-primary block mb-2";
const h3 =
  "text-base leading-[1.5em] font-normal text-left m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
---

<section id="sbs-1308" class={cn(sbs)}>
  <div class={cn(container)}>
    <!-- Left Image Section -->
    <div class={cn(imageGroup)}>
      <!--Floating Box-->
      <div class={cn(box)}>
        <span class={cn(desc)}>Accounting & support of your business</span>
      </div>
      <!--Image-->
      <picture class={cn(picture)}>
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg"
        />
        <img
          class={cn(img)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg"
          alt="meeting"
          width="630"
          height="630"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class={cn(content)}>
      <span class={cn(topper)}>Handyman Experts</span>
      <h2 class={cn(title, titleUnderline)}>Get Help on Finance</h2>
      <p class={cn(text)}>
        In the new era of technology we look in the future with certainty and
        pride for our company and business. consider all the drivers of change
        gives you the blocks & pride for our components you need to change to
        create a truly professional website In the new era.
      </p>
      <a
        class={cn(button, buttonBefore)}
        aria-label="learn more about our programs"
        href="">Learn More</a
      >
      <ul class={cn(ul)}>
        <li class={cn(item)}>
          <span class={cn(number)}>150 +</span>
          <h3 class={cn(h3)}>Staff on three continents</h3>
        </li>
        <li class={cn(item)}>
          <span class={cn(number)}>700 +</span>
          <h3 class={cn(h3)}>Consulting engagements</h3>
        </li>
        <li class={cn(item)}>
          <span class={cn(number)}>180 +</span>
          <h3 class={cn(h3)}>Learning community members</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
